services:
  database:
    image: "openml/test-database:20240105"
    container_name: "openml-test-db-ci"
    environment:
      MYSQL_ROOT_PASSWORD: ok
    ports:
      - "33060:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      start_period: 30s
      interval: 5s
      retries: 10

  database-setup:
    image: mysql
    container_name: "openml-test-setup-ci"
    volumes:
      - ./docker/update.sh:/database-update.sh
    command: /bin/sh -c "/database-update.sh"
    depends_on:
      database:
        condition: service_healthy

# V1 API (PHP)
  php-api:
    image: "openml/php-rest-api:v1.2.2"
    container_name: "openml-php-api-ci"
    ports:
      - "9002:80"
    depends_on:
      database:
        condition: service_started
    environment:
      - DB_HOST_OPENML=database:3306
      - DB_HOST_EXPDB=database:3306
      - BASE_URL=http://localhost:9002/
      - INDEX_ES_DURING_STARTUP=false

  # V2 API (PYTHON)
  python-api:
    container_name: "openml-python-api-ci"
    build:
          # TODO: replace with image when available
          context: ../server-api
          dockerfile: docker/python/Dockerfile
    ports:
      - "9001:8000"
    depends_on:
      - database
    environment:
      - DATABASE_URL=mysql://root:ok@database:3306/openml